@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column nowrap;
}

header {
  display: flex;
  flex-flow: default;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 25px 200px;
}

header ul {display:inherit;list-style-type:none;gap:15px;justify-content:center;}

header .logo {
  font-size: 24px;
  color: #f9faf8;
  align-self:center;
  justify-content: center;
}

header .nav-links {
  a:link, a:visited {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
  }
  a:hover, a:active {
    text-decoration: underline;
  }
}

#hero {
  display: flex;
  background-color: #1f2937;
  padding: 25px 200px;
  flex-flow: row wrap;
}
#hero img {
  display:inherit;
  justify-content:center;
  align-self: right;
  padding:25px 100px;
  flex-grow: 2;
}
#hero .main-text {
  display: inherit;
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

#hero .secondary-text {
  display: inherit;
  font-size: 18px;
  color: #e5e7eb;
}
#hero .container {
  display:inherit;
  flex-flow: column nowrap;
  width: 350px;
  align-items: center;
  justify-content: left;
  flex-grow: 1;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  margin: 10px;
  padding: 15px;
}

#information .info {
  display: inherit;
  width: 200px;
  gap: 36px;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
}
#information img {
  display: inherit;
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 5px;
}

#information {
  display: flex;
  color: #1f2937;
  flex-flow: column nowrap;
  padding: 25px 200px;
}

#information .header {
  display: inherit;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  justify-content: center;
  padding: 25px;
}

#information .container {
  display: inherit;
  justify-content: space-around;
}

#testimonial {
  display: flex;
  color:#1f2937;
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  flex-flow: column wrap;
  padding: 25px 200px;
}

#testimonial .author {
  display: inherit;
  justify-content: flex-end;
  font-size: 36px;
  font-weight: 600;
}
#call-to-action {
  background-color: #3882f6;
  margin: 50px 200px;
  color:#f9faf8;
}
footer {
  display: flex;
  color: #f9faf8;
  background-color: #1f2937;
  padding: 25px 200px;
  justify-content: center;
}
