@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: column nowrap;
}
#hero, footer {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
}

header a:link, a:visited, .hero-secondary {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}
header a:hover, a:active {
  text-decoration: underline;
}

button {
  background-color: #3882f6;
}
#information {
  display: flex;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}
#quote {
  background-color: #e5e7eb;
}
.testimonial {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}